:root {
    --task-card-color: #403A3E;   
}
body {
    margin: 0px;
    padding: 0px;
    background-color: cornsilk;
    font-family: 'Monda', sans-serif;
}
.to-do-list {
    margin-left: 25%;
    width: 50%;
    height: auto;
    background-image: linear-gradient(to bottom, #D3CCE3, #E9E4F0);
    border: 2px solid black;
}

.to-do-list h1{
    padding-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.to-do-list .description label {
    padding-left: 25px;
    font-size: 20px;
}
.to-do-list .description input {
    width: 75%;
    border: 2px solid #aaaaaa;
    border-radius: 2px;
    margin: 8px 0;
    outline: none;
    padding: 4px;
    padding-left: 6px;
    box-sizing: border-box;
    transition: 1s;
    font-size: 14px;
    
}
/* Blue effect in the input box on focus */
.to-do-list .description input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
/* auto hide the placeholder text on focus */
.to-do-list .description input:focus::placeholder{
    color: transparent;
}
/* Styling for category and date */
.category-date {
    font-size: 20px;
    padding: 10px 0px 10px 25px;
}

#category {
    width: 32.5%;
    padding-right: 5%;
    padding: 4px;
}
#date {
    width: 33%;
    padding-left: 5%;
    padding: 4px;
}

/* Styling add-task and delete-task */
.buttons {
    text-align: center;
}
#btn-add-task, #btn-delete-task {
    padding: 15px;
    margin-right: 20px;
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

#btn-add-task, #btn-delete-task:hover {
    cursor: pointer;
}

#btn-add-task {
    background-color: #181818;
}

#btn-delete-task {
    background-color: #EE351E;
    
}

/* Styling Task-card  List*/
.task-card ul{
    margin: 0;
    padding: 0;
}

.task-card ul li{
    display: flex;
    list-style: none;
    margin-bottom: 10px;
}
.description-task {
    display: flex;
    padding-left: 25px;
    width: 65%;
    color: white;
}
.description-task .checkbox {
    background-color: var(--task-card-color);
    width: 30px;
    margin-left: -5px;
    padding-left: 10px;
}
.description-task .checkbox input{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.description-date {
    width: 100%;
    background-color: var(--task-card-color);
    padding-left: 5px;
}
.description-date p {
    font-size: 18px;
}
.description-date .due-date-calendar {
    color: whitesmoke;
}
.task-category {
    width: 20%;
    background-color: var(--task-card-color); ;
    text-align: center;
}
.task-category p {
    background-color: lightseagreen;
    width: 80%;
    padding: 13px 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}
.delete-btn {
    width: 8.5%;
    background-color: var(--task-card-color);
}
